<%- include("includes/head.ejs", {docTitle: docTitle}); %>
</head>
<body>
   <%- include("includes/navigation.ejs", {path: path}) %>
    <main>
        <h1>Sorry, page not found!</h1>
    </main>
<%- include("includes/end.ejs") %>
